@model IEnumerable<EmployeeTravel.Models.Travel>



@{

    ViewBag.Title = "FilterCancelView";

}







@using (Html.BeginForm())



{

    <h2>Delete</h2>

    <body background="~/Images/1.jpg ">





        <p>

            Enter Search Character: @Html.TextBox("id")<br />

            <input type="submit" value="Search" class="btn btn-default" />

        </p>

        <table class="table">

            <tr>

                <th>

                    @Html.DisplayNameFor(model => model.TravelStartdate)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.TravelEnddate)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.TravelSource)

                </th>

                <th>

                    @Html.DisplayNameFor(model => model.TravelDestination)

                </th>



                <th></th>

            </tr>



            @foreach (var item in Model)

            {



                <tr>

                    @Html.Partial("FilterCancelPartialView", item)

                </tr>

            }



        </table>

        @Html.ActionLink("Back to Home", "Home")
    </body>

}



